<div class="header-container">
    <div class="header-toolbar">
        <button class="menu-button" (click)="toggleSidebar()" aria-label="Menu">
            <span class="menu-icon">☰</span>
            <span class="text-large">Menu</span>
            <span class="menu-arrow">{{ sidebarAberto ? '▶' : '◀' }}</span>
        </button>

        <span class="spacer"></span>

        <span class="heading-1">SISRO - Sistema de Rotinas Operacionais</span>

        <span class="spacer"></span>
        
        @if (escondeInputBusca) {
            <label class="text-standard">Nova unidade</label>
            <input type="text" placeholder="Entre o código ou nome" class="input-busca" 
            [(ngModel)]="filtro" (input)="filtrar()" />
        }

        @if (existeUnidadeSelecionada()) {
            <ul class="unidadeSelecionada">
                <li (click)="alteraUnidade()" title="Clique para alterar">{{ unidadeService.getUnidade()?.codigo}} - {{ unidadeService.getUnidade()?.nome}} <span class="c-button__icon">✏️</span></li>
            </ul>
        }

        @if (sugestoes.length) {   
            <div class="sugestoes-backdrop"></div>
            <ul class="sugestoes sugestoes-center">
                @for(u of sugestoes; track u) {
                    <li (click)="selecionar(u)">{{ u.codigo }} - {{ u.nome }}</li>
                }
            </ul>
        }

    </div>

</div>