:host {
    display: flex;
    flex-shrink: 0;
    width: 100%;
}

.footer-container {
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    width: 100%;
    height: 48px;
    min-height: 48px;
    background-color: var(--primary-90);
    color: white;
}