@font-face {
	font-family: 'Material Icons';
	src: url('/assets/fonts/material-icons/MaterialIcons-Regular.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
}

.material-icons {
	position: relative;
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 20px;
	line-height: 1;
	-webkit-font-feature-settings: 'liga';
	font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	display: inline-block;
}