:host {
  display: flex;
  flex-direction: column;
  height: 100vh; /* altura total da tela */
}

.app-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0; /* ESSENCIAL */
}

/* Header fixo */
app-header {
  flex-shrink: 0;
}

/* Footer fixo */
app-footer {
  flex-shrink: 0;
}

/* Container que envolve sidebar + main */
.main-container {
  display: flex;
  flex: 1;
  overflow: hidden;

//   min-height: 0; /* ESSENCIAL para overflow funcionar */
}

/* Sidebar fixo */
app-sidebar {
  height: 100%;
  flex-shrink: 0;
  transition: width 0.3s ease-in-out;
}

/* Main com scroll apenas vertical */
.content-container {
  flex: 1; 
  display: flex;
  flex-direction: column;
  padding: 24px;
  box-sizing: border-box;
  min-height: 0;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
}

.content-container::-webkit-scrollbar {
  width: 8px;
}

.content-container::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 4px;
}
