.two-column-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 15px;

    >.column {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: var(--border-radius);
        padding: 15px;
        box-shadow: var(--shadow-sm);
        flex: 1;
        min-width: 0;
    }
}

// Responsividade
@media (max-width: 768px) {
    .two-column-container {
        flex-direction: column;
    }

    .two-column-container>.column {
        flex: none;
    }
}