@use './styles/index';

@font-face {
	font-family: 'Roboto';
	src: url('/assets/fonts/roboto/Roboto-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Material Icons';
	src: url('/assets/fonts/material-icons/MaterialIcons-Regular.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background: var(--background);
	color: var(--text);
}

* {
  box-sizing: border-box;
}
