@use './styles/index';

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'CAIXA Std', sans-serif;
	background: var(--background);
	color: var(--text);
}

* {
	box-sizing: border-box;
}